<settings>

    <setting propertyKey="@Properties.BackgroundColor" title="@Strings.BackgroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ForegroundColor" title="@Strings.ForegroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorBlue</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.NumeralStyle" title="@Strings.NumeralStyleTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.NumeralsRoman</listEntry>
            <listEntry value="1">@Strings.NumeralsArabic</listEntry>
            <listEntry value="2">@Strings.NumeralsNone</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ShowHourMarkers" title="@Strings.ShowHourMarkersTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowHourHand" title="@Strings.ShowHourHandTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowMinuteHand" title="@Strings.ShowMinuteHandTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowSecondHand" title="@Strings.ShowSecondHandTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.HandStyle" title="@Strings.HandStyleTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.HandStyleLight</listEntry>
            <listEntry value="1">@Strings.HandStyleDauphine</listEntry>
            <listEntry value="2">@Strings.HandStyleDauphineFlat</listEntry>
            <listEntry value="3">@Strings.HandStyleRectangle</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ShowCenterDot" title="@Strings.ShowCenterDotTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowDateComplication" title="@Strings.ShowDateComplicationTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowDayOfWeek" title="@Strings.ShowDayOfWeekTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowDayNumber" title="@Strings.ShowDayNumberTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowDateBorder" title="@Strings.ShowDateBorderTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowTemperature" title="@Strings.ShowTemperatureTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.TemperaturePosition" title="@Strings.TemperaturePositionTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.PositionTop</listEntry>
            <listEntry value="1">@Strings.PositionRight</listEntry>
            <listEntry value="2">@Strings.PositionBottom</listEntry>
            <listEntry value="3">@Strings.PositionLeft</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ShowBattery" title="@Strings.ShowBatteryTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.BatteryPosition" title="@Strings.BatteryPositionTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.PositionTop</listEntry>
            <listEntry value="1">@Strings.PositionRight</listEntry>
            <listEntry value="2">@Strings.PositionBottom</listEntry>
            <listEntry value="3">@Strings.PositionLeft</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ShowSteps" title="@Strings.ShowStepsTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.StepsPosition" title="@Strings.StepsPositionTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.PositionTop</listEntry>
            <listEntry value="1">@Strings.PositionRight</listEntry>
            <listEntry value="2">@Strings.PositionBottom</listEntry>
            <listEntry value="3">@Strings.PositionLeft</listEntry>
        </settingConfig>
    </setting>

</settings>
